@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Centering the Main Content */

/* Button Styles */
button {
  transition: all 0.3s ease-in-out;
}

/* Form Styles */
input {
  width: 90%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #110101;
  border-radius: 5px;
}
textarea {
  width: 90%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #110101;
  border-radius: 5px;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Navbar */
nav {
  background: linear-gradient(90deg, #007bff, #6610f2);
  padding: 15px;
  font-size: 18px;
}

nav a {
  color: black;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
  padding: 5px;
}

nav a:hover {
  color: yellow;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #6610f2, #9810fa);
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}


/* Responsive Design */
@media (max-width: 768px) {
  main {
    padding: 20px;
    text-align: center;
  }
}
